<ion-view view-title="Accounts" name="accounts-view">
  <header class="bar bar-header" >
    <div class="buttons">
      <button class="button button-calm" ng-click="goDashboard()">
        <i class="icon ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title">Accounts</h1>
  </header>
  <ion-content class="has-header">
    <div class="card" ng-repeat="plaid_account in accounts">
      <div class="item item-text-wrap stable row">
        <div class="col col-50">{{plaid_account.institution}}</div>
        <div class="col col-50 text-right">
          <button class="button button-calm" ng-click="refreshAccount(plaid_account)">
            <i class="icon ion-loop"></i>
          </button>
          <button class="button button-assertive" ng-click="deleteAccount(plaid_account)">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>
      </div>
      <div class="item item-text-wrap upstart row">
        <div class="col col-50">
          <h4></h4>
        </div>
        <div class="col col-25 text-right">
          <h4 class="upstart">Available</h4>
        </div>
        <div class="col col-25 text-right">
          <h4 class="upstart">Balance</h4>
        </div>
      </div>
      <div class="item item-text-wrap row" ng-repeat="account in plaid_account.accounts">
        <div class="col col-50 text-center">
          <h4>{{account.name}}</h4>
        </div>
        <div class="col col-25 text-right">
          <h4>{{account.available.formatMoney(2)}}</h4>
        </div>
        <div class="col col-25 text-right">
          <h4>{{account.balance.formatMoney(2)}}</h4>
        </div>
      </div>
    </div>
    <div class="text-center padding">
      <button class="button button-calm" ng-click="addAccount()">
        Add new account
      </button>
    </div>
  </ion-content>
</ion-view>
