<ion-view>

  <ion-content class="has-header" has-bouncing="false">

    <div>
      <div class="item item-text-wrap row">
        <div class="col col-25 text-center"></div>
        <div class="col col-50 text-center"><h2>Success! Your Account(s) has been added!</h2></div>
        <div class="col col-25 text-center"></div>
      </div>
    </div>


    <div>
      <div class="item item-text-wrap row">
        <div class="col col-25 text-center"></div>
        <div class="col col-50 text-center"><h3>Have any more accounts that you use regularly?</h3></div>
        <div class="col col-25 text-center"></div>
      </div>
    </div>

    <div class="text-center padding">
      <button class="button button-calm" ng-click="addAccount()">
        Yes - Add Account
      </button>
    </div>

    <div class="text-center padding">
      <button class="button button-calm" ng-click="">
        No - I am done
      </button>
    </div>



  </ion-content>
</ion-view>
