<ion-view view-title= {{formatMonth(month)}}>

  <ion-content class="has-header" has-bouncing="false">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a href="#/app/transactions-add"><button class="button button-icon button-clear ion-android-add">
      </button></a>
    </ion-nav-buttons>

    <div class="button-bar">
      <div class="col">
        <div class="card positive text-center">
          Income
          <h3>$800</h3>
        </div>
      </div>
      <div class="col">
        <div class="card orange text-center">
          Expenses
          <h3>$500</h3>
        </div>
      </div>
      <div class="col">
        <div class="card {{moneyColor(month.available)}} text-center">
          Remaining
          <h3>$300</h3>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap row">
        <div class="col col-25 text-left"><h4>Category</h4></div>
        <div class="col col-25 text-center"><h4>Budget</h4></div>
        <div class="col col-25 text-center"><h4>Actual</h4></div>
        <div class="col col-25 text-center"><h4>Remaining</h4></div>
      </div>


      <div class="item item-text-wrap row"  ng-repeat="x in categoryVariable">

        <div class="col col-25 text-center"><a href="/#/app/category/{{x.id}}">{{x.category}}</a></div>
        <div class="col col-25 text-center">{{x.budget | currency}}</div>      <!-- ng-click="goToCategory(x.id)"-->
        <div class="col col-25 text-center">{{x.actual | currency}}</div>
        <div class="col col-25 text-center">{{(x.budget - x.actual) | currency}}</div> <!--Currently looks at this as two strings-->
      </div>

    </div>
      <!-- This is what we will use when we actually have real information to share.
       <div class="item item-text-wrap row {{transactionColor(transaction)}}" ng-repeat="transaction in month.transactions" on-hold="ignoreTransaction(transaction)">
         <div class="col col-25 text-center">{{transaction.date_str}}</div>
         <div class="col">{{transaction.description}} <i ng-if="transaction.pending" class="icon ion-android-time assertive-text"></i></div>
         <div class="col col-30 text-right">{{transaction.amount.formatMoney()}}</div>
       </div>
       -->


  </ion-content>
</ion-view>
