<ion-view view-title="Add Category">
  <ion-content>
    <div class="list">
      <label class="input item-input item-floating-label">
        <span class="input-label">Amount</span>
        <input type="text" placeholder="Amount" ng-model="amount">
      </label>
      <label class="input item-input item-floating-label">
        <span class="input-label">Merchant</span>
        <input type="text" placeholder="Merchant" ng-model="merchant">
      </label>
      <label class="input item-input item-floating-label">
        <span class="input-label">Date</span>
        <input type="text" placeholder="Date" ng-model="date">
      </label>
      <label class="input item-input item-floating-label">
        <span class="input-label">Category</span>
        <input type="text" placeholder="Category" ng-model="category">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-calm">Add Category</button>


    </div>
  </ion-content>
</ion-view>
