<ion-view view-title="Add Accounts">

  <ion-content class="has-header" has-bouncing="false">

    <div>
        <div class="item item-text-wrap row">
          <div class="col col-25 text-center"></div>
          <div class="col col-50 text-center"><h2>Let's setup your bank accounts and credit card accounts</h2></div>
          <div class="col col-25 text-center"></div>
        </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap row">
        <div class="col col-50 text-center"><h3>Why?</h3></div>
        <div class="col col-50 text-center"><h3>Finesse uses this information to help setup a budget and track your transactions.</h3></div>
      </div>
      <div class="item item-text-wrap row">
        <div class="col col-50 text-center"><h3>Is this safe?</h3></div>
        <div class="col col-50 text-center"><h3>Yes, Finesse uses the same 128 bit encryption as big banks</h3></div>
      </div>
      <div class="item item-text-wrap row">
        <div class="col col-50 text-center"><h3>Does Finesse sign-in information?</h3></div>
        <div class="col col-50 text-center"><h3>Absolutely not. We do not store any specific account sign-in information.</h3></div>
      </div>

    </div>

    <div>
      <div class="item item-text-wrap row">
        <div class="col col-25 text-center"></div>
        <div class="col col-50 text-center"><h3>By clicking "Add Account", you have read and agree to the Account Verification Agreement.</h3></div>
        <div class="col col-25 text-center"></div>
      </div>
    </div>

    <div class="text-center padding">
      <button class="button button-calm" ng-click="addAccount()">
        Add Account
      </button>
    </div>


  </ion-content>
</ion-view>

