<ion-view view-title="Add Transaction" xmlns="http://www.w3.org/1999/html">

  <ion-content>

    <form name="form" ng-submit="addTransaction(transactionAmount, transactionDate, transactionMerchant, transactionCategory);" novalidate>

      <!--worked without ng controller as it's called in app.js but keeping for now-->

      <!--<div class="item item-text-wrap row" ng-repeat="x in transactions">
        <div class="col col-25 text-center"> {{x.date}} </div>
        <div class="col"> {{x.merchant}} </div>
        <div class="col col-30 text-right"> {{x.amount}} </div>
        <div class="col col-30 text-right"> {{x.category}} </div>
      </div>-->

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="$100.00" ng-model="transactionAmount">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Merchant</span>
        <input type="text" placeholder="Walmart" ng-model="transactionMerchant">
      </label>
      <!--
      <label class="item item-input item-stacked-label">
       <span class="input-label">Category</span>
        <input type="text" placeholder="Fixed Expenses" ng-model="transactionCategory">
      </label> -->
      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select ng-model="transactionCategory">
          <option ng-repeat="x in categoryOptions" value="{{x.category}}">{{x.category}}</option>
        </select>
        <input type="text" >
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date</span>
        <input type="date" placeholder="3/13/2017" ng-model="transactionDate">
      </label>

    </div>

    <div class="padding">
      <button type ="submit"
              class="button button-block button-calm"
              ng-disabled="!transactionAmount"
              ng-click="null">Add Transaction</button>
    </div>

    </form>
  </ion-content>
</ion-view>
