<ion-view view-title="Edit Budget">
  <ion-content>
    <div class="list">
      <label class="input item-input item-stacked-label">
        <span class="input-label">New Budget</span>
        <input type="text" placeholder="0.00" ng-model="new-budget">
      </label>
      <label class="input item-input item-stacked-label">
        <span class="input-label">Current Budget</span>
        <input type="text" placeholder="$500.00" ng-model="budget">
      </label>
      <label class="input item-input item-stacked-label">
        <span class="input-label">Remaining Budget</span>
        <input type="text" placeholder="$1500.00" ng-model="remaining-budget">
      </label>

      <div class="padding">
        <button class="button button-block button-calm">Submit</button>


      </div>
  </ion-content>
</ion-view>

