<!DOCTYPE html>
<html lang="en">
<ion-view name="login-view">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="login(email, password)">Login</button>
    </div>
    <div class="text-center help-text">
      Need an an account? <span class="link" ng-click="goSignup()">Sign up</span>.
    </div>
  </ion-content>
</ion-view>
